H1{ color:red;
}
#h{text-decoration: line;}
h3{color: red;}
ul{letter-spacing:3px;  color:brown; word-spacing: 2px;}
#hed{ color:brown; }
#u{text-decoration:underline;}
.bg{background-color: rgb(253, 246, 97); font-weight:1000; }
#over{text-decoration:line-through; }
h1 { letter-spacing: 3px;}
ol { letter-spacing: 2px; word-spacing: 2px;}
#ext{letter-spacing: 3px; }
body{background-color:rgb(197, 228, 232);
 }
 .u{text-decoration:underline;}

